:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .views {
    display: flex;
    flex-direction: column;
    height: 100%;

    .view {
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      .tips {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        mat-toolbar {
          .toolbar-bottom {
            height: 240px;
          }
        }

        .sidenav-content {
          background: whitesmoke;
        }
      }
    }
  }
}
