<div class="views">
  <div class="view" [@slideInRight] fusePerfectScrollbar>
    <div class="tips">
      <!-- SIDENAV HEADER -->
      <div class="sidenav-header">
        <!-- CONTACT TOOLBAR -->
        <mat-toolbar class="mat-accent-bg">
          <!-- TOOLBAR TOP -->
          <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div>Quick Info</div>

            <button mat-icon-button fuseMatSidenavToggler="chat-right-sidenav" aria-label="close">
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar-row>
          <!-- / TOOLBAR TOP -->

          <!-- TOOLBAR BOTTOM -->
          <mat-toolbar-row class="toolbar-bottom" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/icons/hera-avatar.png" class="avatar contact-avatar huge" />
            <div class="contact-name my-8">Hera Assistant</div>
          </mat-toolbar-row>
          <!-- / TOOLBAR BOTTOM -->
        </mat-toolbar>
        <!-- / CONTACT TOOLBAR -->
      </div>

      <!-- SIDENAV CONTENT -->
      <div class="sidenav-content p-16" fxFlex>
        <!-- CONTACT MOOD -->
        <div class="mb-16">Try:</div>
        <mat-card class="pt-8 mb-4">
          <span>Small talk</span>
          <ul>
            <li>Hello</li>
            <li>How are you?</li>
          </ul>
        </mat-card>
        <mat-card class="pt-8 mb-4">
          <span>Transactions</span>
          <ul>
            <li>How much I spent yestarday?</li>
            <li>How much I spent last month on food?</li>
          </ul>
        </mat-card>
        <mat-card class="pt-8 mb-4">
          <span>Cards operations</span>
          <ul>
            <li>Transfer 400 RON between my main card to my eMag card</li>
          </ul>
        </mat-card>
        <!-- / CONTACT MOOD -->
      </div>
    </div>
  </div>
</div>
