#summary {
  > .center {
    .main-widget {
      display: flex;
      flex-direction: column;
    }
    > .header {
      height: 65px;
      min-height: 65px;
      max-height: 65px;

      .selected-project {
        background: rgba(0, 0, 0, 0.12);
        color: #ffffff;
        padding: 8px 16px;
        height: 40px;
        line-height: 24px;
        font-size: 16px;
      }

      .project-selector {
        margin-left: 1px;
        border-radius: 0;
        background: rgba(0, 0, 0, 0.12);

        mat-icon {
          color: #ffffff;
        }
      }
    }

    > .content {
      flex: 1;

      mat-tab-group {
        height: 100%;

        .mat-tab-body-wrapper {
          flex-grow: 1;
        }
      }

      .mat-tab-label-container {
        padding: 0 24px;
      }
    }
  }

  .widget {
    &.widget5 {
      .gridline-path.gridline-path-horizontal {
        display: none;
      }
    }
  }
}
