<div id="summary" class="page-layout simple right-sidebar" fxLayout="row">
  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- CONTENT -->
    <div class="content">
      <div
        class="widget-group grey-100-bg p-12"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        fxFlex="100"
        *fuseIfOnDom
        [@animateStagger]="{ value: '50' }"
      >
        <!-- CARD #1 -->
        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-md="30" fxFlex.gt-xs="50">
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="h3">Card 1</div>

              <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more"><mat-icon>remove_red_eye</mat-icon></button>
            </div>

            <div class="pt-12 pb-36" fxLayout="column" fxLayoutAlign="center center">
              <div class="red-fg font-size-32 line-height-46">0450 **** *** 1273</div>
            </div>

            <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Balance: </span> <span class="h4 ml-8">{{ '1234' | currency }}</span>
            </div>
          </div>
          <!-- / Front -->

          <!-- Back -->
          <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget"><mat-icon class="s-16">close</mat-icon></button>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Issuer: </span> <span class="h4 ml-8">BRD</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Number: </span> <span class="h4 ml-8">0450 6348 9816 1273</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Exp. Date: </span> <span class="h4 ml-8">{{ currentDate | date: 'shortDate' }}</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> CVV: </span> <span class="h4 ml-8">783</span>
            </div>
          </div>
          <!-- / Back -->
        </fuse-widget>
        <!-- / CARD #1 -->

        <!-- CARD #2 -->
        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-md="30" fxFlex.gt-xs="50">
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="h3">Card 1</div>

              <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more"><mat-icon>remove_red_eye</mat-icon></button>
            </div>

            <div class="pt-12 pb-36" fxLayout="column" fxLayoutAlign="center center">
              <div class="red-fg font-size-32 line-height-46">0450 **** *** 1273</div>
            </div>

            <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Balance: </span> <span class="h4 ml-8">{{ '1234' | currency }}</span>
            </div>
          </div>
          <!-- / Front -->

          <!-- Back -->
          <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget"><mat-icon class="s-16">close</mat-icon></button>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Issuer: </span> <span class="h4 ml-8">BRD</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Number: </span> <span class="h4 ml-8">0450 6348 9816 1273</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Exp. Date: </span> <span class="h4 ml-8">{{ currentDate | date: 'shortDate' }}</span>
            </div>
            <div class="p-8 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> CVV: </span> <span class="h4 ml-8">783</span>
            </div>
          </div>
          <!-- / Back -->
        </fuse-widget>
        <!-- / CARD #2 -->

        <!-- WIDGET 8 -->
        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="50">
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="h3 px-16 py-24">{{ widgets.widget8.title }}</div>

            <mat-divider></mat-divider>

            <div class="h-400">
              <ngx-charts-pie-chart
                *fuseIfOnDom
                [scheme]="widget8.scheme"
                [results]="widgets.widget8.mainChart"
                [legend]="widget8.legend"
                [explodeSlices]="widget8.explodeSlices"
                [labels]="widget8.labels"
                [doughnut]="widget8.doughnut"
                [gradient]="widget8.gradient"
                (select)="widget8.onSelect($event)"
              >
              </ngx-charts-pie-chart>
            </div>
          </div>
          <!-- / Front -->
        </fuse-widget>
        <!-- / WIDGET 8 -->

        <!-- WIDGET 9 -->
        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="50">
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="px-16 py-12 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="h3">{{ widgets.widget9.title }}</div>
              <mat-form-field>
                <mat-select [(ngModel)]="widget9.currentRange" aria-label="Change range">
                  <mat-option *ngFor="let range of (widgets.widget9.ranges | keys)" [value]="range.key"> {{ range.value }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between end">
              <div fxFlex="0 1 auto">
                <div class="h4 secondary-text">{{ widgets.widget9.weeklySpent.title }}</div>
                <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                  <span class="secondary-text">$</span> <span>{{ widgets.widget9.weeklySpent.count[widget9.currentRange] }}</span>
                </div>
              </div>
              <div class="h-52" fxFlex>
                <ngx-charts-area-chart
                  *fuseIfOnDom
                  [results]="widgets.widget9.weeklySpent.chart[widget9.currentRange]"
                  [scheme]="widget9.scheme"
                  [gradient]="widget9.gradient"
                  [xAxis]="widget9.xAxis"
                  [yAxis]="widget9.yAxis"
                  [legend]="widget9.legend"
                  [showXAxisLabel]="widget9.showXAxisLabel"
                  [showYAxisLabel]="widget9.showYAxisLabel"
                  [xAxisLabel]="widget9.xAxisLabel"
                  [yAxisLabel]="widget9.yAxisLabel"
                  [curve]="widget9.curve"
                >
                </ngx-charts-area-chart>
              </div>
            </div>

            <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between end">
              <div fxFlex="0 1 auto">
                <div class="h4 secondary-text">{{ widgets.widget9.totalSpent.title }}</div>
                <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                  <span class="secondary-text">$</span> <span>{{ widgets.widget9.totalSpent.count[widget9.currentRange] }}</span>
                </div>
              </div>
              <div class="h-52" fxFlex>
                <ngx-charts-area-chart
                  *fuseIfOnDom
                  [results]="widgets.widget9.totalSpent.chart[widget9.currentRange]"
                  [scheme]="widget9.scheme"
                  [gradient]="widget9.gradient"
                  [xAxis]="widget9.xAxis"
                  [yAxis]="widget9.yAxis"
                  [legend]="widget9.legend"
                  [showXAxisLabel]="widget9.showXAxisLabel"
                  [showYAxisLabel]="widget9.showYAxisLabel"
                  [xAxisLabel]="widget9.xAxisLabel"
                  [yAxisLabel]="widget9.yAxisLabel"
                  [curve]="widget9.curve"
                >
                </ngx-charts-area-chart>
              </div>
            </div>

            <div class="px-16 py-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between end">
              <div fxFlex="0 1 auto">
                <div class="h4 secondary-text">{{ widgets.widget9.remaining.title }}</div>
                <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                  <span class="secondary-text">$</span> <span>{{ widgets.widget9.remaining.count[widget9.currentRange] }}</span>
                </div>
              </div>
              <div class="h-52" fxFlex>
                <ngx-charts-area-chart
                  *fuseIfOnDom
                  [results]="widgets.widget9.remaining.chart[widget9.currentRange]"
                  [scheme]="widget9.scheme"
                  [gradient]="widget9.gradient"
                  [xAxis]="widget9.xAxis"
                  [yAxis]="widget9.yAxis"
                  [legend]="widget9.legend"
                  [showXAxisLabel]="widget9.showXAxisLabel"
                  [showYAxisLabel]="widget9.showYAxisLabel"
                  [xAxisLabel]="widget9.xAxisLabel"
                  [yAxisLabel]="widget9.yAxisLabel"
                  [curve]="widget9.curve"
                >
                </ngx-charts-area-chart>
              </div>
            </div>

            <div class="px-16 py-24 border-top">
              <div class="h4 secondary-text">{{ widgets.widget9.totalBudget.title }}</div>
              <div class="pt-8 mat-display-1 m-0 font-weight-300">
                <span class="secondary-text">$</span> <span>{{ widgets.widget9.totalBudget.count }}</span>
              </div>
            </div>
          </div>
          <!-- / Front -->
        </fuse-widget>
        <!-- / WIDGET 9 -->
      </div>
      <!-- / WIDGET GROUP -->
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
