<div id="profile" class="page-layout simple">
    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center">
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center">
            <img class="profile-image avatar huge" src="assets/icons/avatar.png" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }" />
            <div class="name" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">Katherine Wilson</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content"><profile-about></profile-about></div>
    <!-- / CONTENT -->
</div>
