version: '3'

services:
  api:
    build: api
    volumes:
      - ./api:/app
    restart: always
    ports:
      - '4001:4001'
      - '4002:4002'
    environment:
      - SERVICE_NAME=API_NODE
      - PORT=4001
      - DEBUG_PORT=4002
      - MONGODB_HOST=mongo
      - MONGODB_DATABASE=api-data
      - MONGODB_PORT=27017
      - MONGODB_USERNAME=root
      - MONGODB_PASSWORD=
    dns: 8.8.8.8

  mongo:
    image: mongo
    container_name: hera_mongo
    ports:
      - 27018:27017
    logging:
      driver: none
    volumes:
      - hera-mongo-data:/data/db

volumes:
  hera-mongo-data:
