version: '3'

services:
  api:
    build: api
    container_name: hera_api
    volumes:
      - ./api:/app
    restart: always
    ports:
      - '4001:4001'
      - '4002:4002'
    environment:
      - SERVICE_NAME=API_NODE
      - PORT=4001
      - DEBUG_PORT=4002
      - MONGODB_HOST=mongo
      - MONGODB_DATABASE=api-data
      - MONGODB_PORT=27017
      - MONGODB_USERNAME=root
      - MONGODB_PASSWORD=
      - JWT_SECRET=secretKey
      - JWT_DURATION=24h
    dns: 8.8.8.8

  client:
    build: client
    container_name: hera_client
    ports:
      - '3001:3001'
    volumes:
      - ./client:/app
    working_dir: /app
    restart: always
    environment:
      - API_URL=http://0.0.0.0:4001
      - PORT=3001
      - DIALOGFLOW_TOKEN=9a3251834022474ba63c0aa3d3115d85

  mongo:
    image: mongo
    container_name: hera_mongo
    ports:
      - 27018:27017
    logging:
      driver: none
    volumes:
      - hera-mongo-data:/data/db

volumes:
  hera-mongo-data:
