@import 'src/@fuse/scss/fuse';

:host {
    #about {
        align-items: center;
        justify-content: center;

        .about-content {
            .general {
                .location {
                    mat-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {
                .job {
                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 500;
                    }

                    .date {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        margin-bottom: 16px;
        justify-content: start !important;
        align-content: start !important;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            align-self: start;
            justify-self: start;
            padding: 16px;
            background-color: #fff;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {
            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
