<div id="summary" class="page-layout simple right-sidebar" fxLayout="row">
  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- CONTENT -->
    <div class="content">
      <!-- WIDGET GROUP -->
      <div
        class="widget-group grey-100-bg p-12"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        fxFlex="100"
        *fuseIfOnDom
        [@animateStagger]="{ value: '50' }"
      >
        <!-- CARD #1 -->
        <fuse-widget
          [@animate]="{ value: '*', params: { y: '100%' } }"
          class="widget"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-md="30"
          fxFlex.gt-xs="50"
          *ngFor="let acc of accounts"
        >
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="h3">{{ acc.name }}</div>
            </div>

            <div class="pt-12 pb-36" fxLayout="column" fxLayoutAlign="center center">
              <div class="red-fg font-size-32 line-height-46">{{ acc.cardNumber }}</div>
            </div>

            <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
              <span class="h4 secondary-text text-truncate"> Balance: </span>
              <span class="h4 ml-8">{{ acc.balance }} {{ acc.currency }}</span>
            </div>
          </div>
          <!-- / Front -->
        </fuse-widget>
        <!-- / CARD #1 -->

        <fuse-widget
          [@animate]="{ value: '*', params: { y: '100%' } }"
          class="widget"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-md="75"
          fxFlex.gt-xs="100"
        >
          <div class="position-relative p-24 mat-green-600-bg" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
              <span class="h2">Transactions</span>
              <span class="h5 secondary-text">Transactions {{ selectedMonth }} month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div
                class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                (click)="selectedMonth = 'previous'"
                [ngClass]="{ 'green-300-bg': selectedMonth === 'previous' }"
              >
                Previous
              </div>
              <div
                class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer"
                (click)="selectedMonth = 'current'"
                [ngClass]="{ 'green-300-bg': selectedMonth === 'current' }"
              >
                Current
              </div>
            </div>
          </div>

          <div class="position-relative h-256 pb-16 mat-green-600-bg">
            <canvas
              baseChart
              [datasets]="chart.datasets[selectedMonth]"
              [labels]="chart.labels[selectedMonth]"
              [colors]="chart.colors"
              [options]="chart.options"
              [chartType]="chart.chartType"
            >
            </canvas>
          </div>
        </fuse-widget>

        <!-- WIDGET 10 -->
        <fuse-widget
          [@animate]="{ value: '*', params: { y: '100%' } }"
          class="widget"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-md="75"
          fxFlex.gt-xs="100"
        >
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
              <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h3">History</div>
              </div>
              <table class="simple" mat-table [dataSource]="collection.items">
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let transaction">
                    <span [ngClass]="{ error: transaction.amount < 0, succes: transaction.amount > 0 }">{{
                      transaction.amount + '.00'
                    }}</span>
                    <span> RON</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef>To</th>
                  <td mat-cell *matCellDef="let transaction" fxLayoutAlign="start center">
                    <img class="m-logo mr-4" src="{{ apiRoot + transaction.merchant.logo }}" />
                    <span>{{ transaction.merchant.name }}</span>
                  </td> </ng-container
                ><ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let transaction">
                    {{ transaction.date | date: 'mediumDate' }}
                  </td> </ng-container
                ><ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Category</th>
                  <td mat-cell *matCellDef="let transaction">
                    <span [ngClass]="{ error: true }">{{ transaction.category }}</span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
              </table>

              <!-- Pagination -->
              <mat-paginator
                class="mat-paginator-sticky"
                [length]="collection.meta.total"
                [pageIndex]="collection.meta.page"
                [pageSize]="collection.meta.count"
                [pageSizeOptions]="[5, 10, 20]"
                (page)="pageChanges($event.pageIndex, $event.pageSize)"
              ></mat-paginator>
            </div>
          </div>
          <!-- / Front -->
        </fuse-widget>
        <!-- / WIDGET 10 -->
      </div>
      <!-- / WIDGET GROUP -->
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
