<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">
  <!-- CHAT TOOLBAR -->
  <mat-toolbar class="chat-toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <!-- CHAT CONTACT-->
        <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center">
          <div class="avatar-wrapper">
            <img src="../../../assets/icons/hera-avatar.png" class="avatar" />

            <mat-icon class="s-16 status online"> </mat-icon>
          </div>

          <div class="chat-contact-name">Hera Assistant</div>
        </div>
        <!-- / CHAT CONTACT-->
      </div>

      <div>
        <button mat-icon-button fuseMatSidenavToggler="chat-right-sidenav" aria-label="info">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <!-- / CHAT TOOLBAR -->

  <!-- CHAT CONTENT -->
  <div id="chat-content" fxFlex fusePerfectScrollbar>
    <!-- CHAT MESSAGES -->
    <div class="chat-messages">
      <!-- MESSAGE -->
      <div
        fxLayout="row"
        *ngFor="let message of dialog"
        class="message-row"
        [ngClass]="{ user: message.owner === 'user' }"
      >
        <img *ngIf="message.owner === 'bot'" src="../../../assets/icons/hera-avatar.png" class="avatar" />

        <img *ngIf="message.owner === 'user'" class="avatar" src="../../../assets/icons/avatar.png" />

        <div class="bubble">
          <div class="message">{{ message.text }}</div>
          <div class="time secondary-text">{{ message.date | date: 'medium' }}</div>
        </div>
      </div>
      <!-- / MESSAGE -->
    </div>
    <!-- CHAT MESSAGES -->
  </div>
  <!-- / CHAT CONTENT -->

  <!-- CHAT FOOTER -->
  <div class="chat-footer" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">
    <!-- REPLY FORM -->
    <form
      [formGroup]="form"
      (ngSubmit)="sendMessage()"
      (keyup.enter)="sendMessage()"
      fxFlex
      class="reply-form"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <mat-form-field fxFlex floatLabel="never">
        <input
          matInput
          formControlName="chatInput"
          placeholder="Type and hit enter to send message"
          autocomplete="off"
        />
      </mat-form-field>

      <button mat-fab type="submit" aria-label="Send message"><mat-icon>send</mat-icon></button>
    </form>
    <!-- / REPLY FORM -->
  </div>
  <!-- / CHAT FOOTER-->
</div>
<!-- / CHAT -->
